//
//  Шапка
//

header {
  background: $gray-lighterst;
  position: relative;
}

.logo-box {
  margin-right: 1.5rem;
  padding-top: 6px;
  position: relative;
  z-index: 10;
}

.mobile-logo {
  display: none;
}

.header-search {
  float: left;
  position: relative;

  .form-control {
    width: 200px;
    border: 1px solid #E6E6E6;
    background: #EDEDED;
    padding-right: 20px;
    height: 24px;
  }

  .btn-search {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 2px;
    color: $gray;
    cursor: pointer;
    width: 18px;
    font-size: 13px;
  }
}

.profile-menu {
  list-style: none;
  padding: 0;

  > li {
    float: left;
    margin: 0 0 0 18px;

    > a {
      text-decoration: none;
      color: $gray;

      &:hover,
      &:focus {
        border-color: transparent;
        background: transparent;
        color: $gray-900;
      }

      > .fa {
        font-size: 14px;
        margin-right: 5px;
      }

      > .fa-caret-down {
        margin-right: 0;
        position: relative;
        top: 1px;
      }

      > .fa-shopping-cart {
        font-size: 16px;
        margin-right: 0;
      }

      > .fa-envelope {
        font-size: 13px;  
        margin-right: 0;
        position: relative;
        top: -1px;
      }
    }

    em {
      font-style: normal;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .badge {
    background-color: theme-color("primary");
    border-radius: 50%;
    padding: 0.4rem 0.5rem;
  }
}
