//
//  Макет и отдельные элементы
//

html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

html {
  font-size: 14px;
}

a:focus, .btn:focus, button:focus {
  outline: none;
  outline-offset: 0;
}

a.btn {
  text-decoration: none;
}

.dotted, a.dotted, a.dotted:hover {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: pointer;
}

p + ul {
  margin-top: -0.5rem;
}

h1 {
  margin: 0 0 0.714rem;
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.5rem;
}

h2, h3 {
  margin-bottom: 1rem;
}

h4 {
  font-weight: 600;
}

.extra-wrap {
  position: relative;
  overflow: hidden;
}

.no-border {
  border: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.hide {
  display: none !important;
}

.table.no-border {
  th, td {
    border: 0;
  }
}

.table {
  margin-bottom: 0;
  line-height: 1.3;

  th {
    color: #6D7F8A;
    border-top: 0;

    a {
      text-decoration: none;
    }
  }
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  display: table-row;
  height: 100%;
}

// постраничка
.pagination-sm .page-arrow {
  display: inline-block;
  position: relative;
  top: -2px;
}

.page-link {
  text-decoration: none;
}

.pagination-box {
  .pagination {
  	margin-bottom: 0.5rem;
  }
}

// хлебные крошки
.breadcrumb {
  border-radius: 0;
  font-size: 0.929rem;

  a {
    color: $gray-700;

    &:hover, &:focus {
      color: $gray-600;
    }
  }

  .breadcrumb-home {
    font-size: 1.071rem;
    padding-right: 0.5rem;

    + .breadcrumb-item::before {
      display: none;
    }
  }
}

// подвал
footer {
  color: $gray-600;
  font-size: 0.929rem;
  padding-bottom: 1rem;

  a {
    color: $gray-600;
  }
}

// версия для печати
.table-print th,
.table-print td {
  padding: 2px 30px 2px 0;
}

.list-print {
  padding-left: 0;
  list-style: none;

  h3 {
  	margin: 10px 0 5px;
  }

  h4 {
  	margin: 10px 0 5px;
  	font-weight: 600;
  }

  ul {
    list-style: none;
    margin-bottom: 15px;
  }
}

.hidden {
  display: none !important;
}