/**
 * Акции
 *
 */

.deals-card {
    .card-body {
        padding-bottom: 1rem;
    }

    &__link {
        display:         block;
        text-decoration: none;
        position:        relative;
        transform:       translateZ(0);
        overflow:        hidden;

        &::before {
            position:   absolute;
            left:       0;
            top:        0;
            width:      100%;
            height:     100%;
            display:    block;
            z-index:    2;
            content:    '';
            background: transparent;
            opacity:    1;
            transition: all 0.4s ease;
        }

        &:hover, &:focus {
            text-decoration: none;

            &::before {
                opacity:    0.25;
                background: $black;
            }

            .action-card__image {
                transform: scale(1.1);
            }
        }
    }

    &__image {
        overflow:   hidden;
        position:   relative;
        transition: all 0.6s ease;

        img {
            height:     200px;
            width:      100%;
            object-fit: cover;
        }
    }

    &__title {
        display:         inline-block;
        text-decoration: underline;
        color:           $white;
        font-weight:     600;
        position:        absolute;
        bottom:          0.5rem;
        left:            1rem;
        z-index:         3;
    }

    .card-footer {
        justify-content: center;

        .btn + .btn {
            margin-left: 1rem;
        }
    }
}

.cards_tile {
    .deals-card {
        .btn:first-child {
            display: none;
        }

        &__image img {
            height: 180px;
        }
    }
}
