/**
 * Процедуры
 */


@mixin card-box-shadow {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 0 3px 0 rgba(0, 0, 0, 0.12);
}

@mixin card-border-radius {
    border-radius: 7px;
}

@mixin hover-color {
    a {
        color: $gray-900;

        &:hover, &:focus {
            color: $hover-color;
        }
    }
}
